/* Default styles for the table */
.responsive-table {
  border-collapse: collapse;
  margin-left: 10vh;
  margin-right: 10vh;
  width: 80%; /* Set the initial width to 100% */

  /* Add any other styles you want for the table */
}

.responsive-table th,
.responsive-table td {
  border: 1px solid #333;
  padding: 8px;
}

.responsive-table th {
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .responsive-table {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}
